-----BEGIN CERTIFICATE-----
MIIFnzCCA4egAwIBAgIUD9Y9dJoZmMdUl8kVSlK8q4+61nUwDQYJKoZIhvcNAQEL
BQAwXzELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEYMBYGA1UEAwwPd3d3LmV4YW1wbGUu
Y29tMB4XDTIxMTAxNzEwMjcxNVoXDTMxMTAxNTEwMjcxNVowXzELMAkGA1UEBhMC
QVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdp
dHMgUHR5IEx0ZDEYMBYGA1UEAwwPd3d3LmV4YW1wbGUuY29tMIICIjANBgkqhkiG
9w0BAQEFAAOCAg8AMIICCgKCAgEAxGs4oDgOSYTJK56Oa1OhibkCOSTZ8wtiUr8/
F93pusgyKcX5XKdp2jnxYw0coIitpv0d3ublLJL9g1uaKHJFNybe8UGQfDPQaMFJ
fseyPfi7IBesv5O0NFp8F8zV9Mx+wRQ07Yp7/7uCtQvZDVBUZGMcrUiSbxsoqyHd
j66vr1Ceh77vG4K8OZboDEjO5N4Q5QqZ4JHodZyrhU172/ciH5BDOIXXXVCeqGqT
FJEfpZcIueGL3EU8BQQuvgTLKwpIyZ/83TM8JXq/JurPL/23PXk1c4EGi+rO6iyN
8hdZdwoa7CMHahtwEWTuzhQOfvkw5IA1eSLDV0EsHEdgM93OpXUgnBDDy0ezX633
ytsgJulUIVs0+xdWXo5ZEU4bawNANK5UvBmtw+hq2DXxpaK+TVuAryC0t0PGBuaW
FinmuAp4nzNCgYmI35eYW5GNfaBU9nRMj967G6DsynI5D3p4VOdn8/3x/6I7kc+L
LKg7bP/GjXghjEqQ45fEI0Ul2BpXsgaNtK1LSMDUGr1z1J2JWbyE6mfhow7oq/iB
KxOaCVyJZs/m5E0rH3B80m2nyKs4mDlFy4DY1nY7uHEYciVDPHh+an1+pykfxRK6
MX/A0YQmgAyl8CPi6bExSqWBaFj6qf76DIoKjjLh7Va2gFXMv+5LTAv8xdbjzHd4
eip8XrcCAwEAAaNTMFEwHQYDVR0OBBYEFPQzqG0d25QHGfAYBi5lVT5QOjk4MB8G
A1UdIwQYMBaAFPQzqG0d25QHGfAYBi5lVT5QOjk4MA8GA1UdEwEB/wQFMAMBAf8w
DQYJKoZIhvcNAQELBQADggIBAGfXGAO6gFQriJ/b4P55zEg6bv/rv5B1NNPZrBul
D/kNoR7Mn1OtBhhqGLk2Fv3KlwljEQRigDDpkuE6qgKnCLPubicUMY9bi+4Kz/qU
6e6JIL1qFKmEGK5wmsqVaXb6FANmWvbpOE4n4vnKsXZP8HsjP+Y2jtgrTHLUDmRq
lsjtDaSvV/wl9rKlw7su5lZ+1MKsBH+vGsYCUMVrCuctx+zjldcwLgRUe7cCLU7+
wAFsC5BNiaMvo+TsiprrPSV1z5nLDEoFyXubr8qTWswTXrUJr4gHOYqQf47N72NJ
EYNf6t3YWO+xaX6a3T/9FqMkaKlcM3zlZyex7NGPENfj6ayy2fX8SY9FZmInuynN
FxnQf/Vq3PbEx/xhQOkwky/63tG777lu9VsTt2/tiUcX5dXAAtFt+U/5v+oT8E64
+KL1Sx40iuhwFnieB3yzKYKxZIzgNpk44xl/hPlW5BL38PUzsVR8cmMlWlEZBpeP
CIVVsNgqVYtJCmW7QusxVpySxwA8ybAcBp5Vz7/8bHavgNdc8/882B6Ducza7ajJ
sJ9JBvywk1my96iFv/16/TeoqxUgW76Vak/5Hvbh8mBhr6sLnAfpJz8voHvNRVhO
wTtC2oHyTQMBnAw729ioihOxbFG/Rh28yOxHAK9Paxui8GSEVVlE/CYLdDOZrayz
rK46
-----END CERTIFICATE-----
