database_path: /work/db.sqlite
base_url: localhost
http_port: 80
debug: true
views:
  tableA:
    tAv1:
      - colA
      - colB
      - colD
      - colC
    tAv2:
      - colD
      - colA
  tableB:
    tB-view2:
      - foo
      - bar
    tB-view1:
      - baz
      - bar
filters:
  tableA:
    tAv2:
      colA:
        - keyword


acl:
  groups:
    firefox:
      - Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:93.0) Gecko/20100101 Firefox/93.0
    chrome:
      - Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36
    both:
      - Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:93.0) Gecko/20100101 Firefox/93.0
      - Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36

  restricted_views:
    tableA:
      tAv1:
        - firefox
        - chrome
    tableB:
      tB-view2:
        - firefox
